.appleItem {
  margin: 20px;
  border: 1px solid #eff1f5;
  .eat{
    background-color: #7f7f7f;
  }
  >div{
    display: inline-block;
  }
  .apple {
    display: inline-block;
    img {
      width: 80px;
      height: 80px;
      margin: 0 auto;
    }
  }
  .btn-div{
    text-align: right;
    float: right;
    height: 84px;
    line-height: 84px;
    button{
      width: 100px;
      height: 40px;
      line-height: 40px;
      background-color: #0b97c4;
    }
  }

}
